// custom style
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.featured {
  flex: calc(100% / 4);
  max-width: calc(100% / 4);

  padding: 10px;
  border-radius: 14px;
  height: 280px;
  flex-direction: column;
  .top {
    flex-direction: column;
    text-align: center;
    .iconContainer {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-bottom: 15px;
      .icon {
        width: 20px;
        height: 20px;
        font-size: 25px;
        color: white;
      }
      svg:first-child {
        width: 25px;
        height: 25px;
      }
    }
    .title {
      font-size: 30px;
      margin-bottom: 30px;
      text-transform: capitalize;
      font-weight: 500;
    }
  }
  .bottom {
    width: 120px;
    height: 120px;
    font-weight: 700;
  }
}
